body{

background-color: rgb(120, 52, 199);
font: normal 20pt arial;

}

header{

 color: rgb(0, 0, 0);
text-align: center;

}

section{

background-color: rgb(255, 255, 255);
border-radius: 10PX;
padding: 15px;
width: 450px;
height: 300PX;
margin: auto;
box-shadow: 10px 10px 20px rgb(124, 55, 55);

}

footer{
    
color: black;
text-align: center;

}