body{

background-color: blue;
font: normal 20pt arial;

}

header{

 color:white;
text-align: center;

}

img{

width: 250px;
height: 250px;
padding: 20px;

}

section{

background-color: white;
border-radius: 10PX;
padding: 15px;
width: 500px;
margin: auto;
box-shadow: 5px 5px 10px rgba(104, 104, 104, 0.986);

}

footer{
    
color:white;
text-align: center;

}